:root{
    --bg-color: #221f2a;
    --nav-color: #4b1280;
    --hover-color: #a484b1;
    --icon-color: #a55911;
    --header-color: #310c53;
    --font-color: #fdf7e4;
    --product-bg-color-1: #24212c;
    --product-bg-color-2: #201d28;
    --footer-color: #1f212a;
}
[theme="dark"]{
    --bg-color: #221f2a;
    --nav-color: #4b1280;
    --hover-color: #a484b1;
    --icon-color: #a55911;
    --header-color: #310c53;
    --font-color: #fdf7e4;
    --product-bg-color-1: #24212c;
    --product-bg-color-2: #201d28;
    --footer-color: #1f212a;
}
[theme="light"]{
    --bg-color: #fdf7e4;
    --nav-color: #a484b1;
    --hover-color: #a484b1;
    --icon-color: #a55911;
    --header-color: #4b1280;
    --font-color: #221f2a;
    --product-bg-color-1: #fff9e6;
    --product-bg-color-2: #fbf5e2;
    --footer-color: #000;
}
.dark{
    display: inline;
}
.light{
    display: none;
}
[theme="dark"] .dark{
    display: inline;
}
[theme="dark"] .light{
    display: none;
}
[theme="light"] .dark{
    display: none;
}
[theme="light"] .light{
    display: inline;
}

body{
    background-color: #221f2a;
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family:'Courier New', Courier, monospace;
    margin: 0;
}

.selezionabile{
    transition: outline 0.5s ease-out, transform 0.5s ease-out;
    outline-color: transparent;
    outline-style: solid;
    outline-width: 0.5vh;
}

.selezionabile:hover{
    outline-color: #a484b1;
    outline-color: var(--hover-color);
    z-index: 1;
}

.hidden{
    display: none;
}

header{
    position: sticky;
    top: 0;
    max-height: 10vh;
    display: flex;
    background-color: #310c53;
    background-color: var(--header-color);
    margin-bottom: 3vh;
    z-index: 1;
}

header>section>a{
    display: flex;
}

#personal_area{
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: max-width 0.5s ease-in;
    max-height: 100%;
    width: 100%;
    max-width: 33%;
}

#personal_area>a{
    max-height: 100%;
    max-width: 100%;
    padding: 1vh;
    object-fit: contain;
    aspect-ratio: 1/1;
}

#personal_area>img{
    max-height: 100%;
    max-width: 100%;
    margin: 1vh;
}

#personal_area>a>img{
    object-fit: contain;
    max-height: 100%;
}

#logo{
    width: 34%;
    /* display: flex; */
}

#logo>a{
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
}

#logo>a>img{
    /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#search_bar{
    display: flex;
    width: 33%;
    align-content: center;
    align-items: center;
}

#search_bar>section{
    display: flex;
    background-color: white;
    min-height: 60%;
    max-height: 60%;
    border-style: solid;
    border-color: orange;
    border-width: 0.7vh;
    align-content: center;
    align-items: center;
    overflow: hidden;
}

#search_bar>section:first-child{
    max-width: 20%;
    border-top-left-radius:1000vh;
    border-bottom-left-radius:1000vh;
}

#search_bar>section:last-child{
    width: 100%;
    max-width: 100%;
    border-top-right-radius:1000vh;
    border-bottom-right-radius:1000vh;
    border-left-width: 0px;
    flex-direction: column;
}

#search_bar>section>img{
    max-width: 50%;
    object-fit: contain;
    margin: auto;
    transform: scaleX(-1);
}

#search_bar>section>input{
    flex-grow: 1;
    max-width: 100%;
    width: 100%;
    padding: 0%;
    border: none;
    font-size: 4vh;
    margin-left: 1vw;
}

nav{
    height: 10vh;
    width: 100%;
}

nav>ul{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    height: 100%;
    margin: 0;
}

nav>ul>li{
    width: 10%;
    height: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}

nav>ul>li>a{
    background-color: #a484b1;
    background-color: var(--nav-color);
    min-width: 100%;
    min-height: 100%;
    border-radius: 1vh;
    align-content: center;
    text-decoration: none;
    border-width: 0.5vh;
    color: inherit;
    font-size: x-large;
}