:root{
    --bg-color: #221f2a;
    --nav-color: #4b1280;
    --hover-color: #a484b1;
    --icon-color: #a55911;
    --header-color: #310c53;
    --font-color: #fdf7e4;
    --product-bg-color-1: #24212c;
    --product-bg-color-2: #201d28;
    --footer-color: #1f212a;
}
[theme="dark"]{
    --bg-color: #221f2a;
    --nav-color: #4b1280;
    --hover-color: #a484b1;
    --icon-color: #a55911;
    --header-color: #310c53;
    --font-color: #fdf7e4;
    --product-bg-color-1: #24212c;
    --product-bg-color-2: #201d28;
    --footer-color: #1f212a;
}
[theme="light"]{
    --bg-color: #fdf7e4;
    --nav-color: #a484b1;
    --hover-color: #a484b1;
    --icon-color: #a55911;
    --header-color: #4b1280;
    --font-color: #221f2a;
    --product-bg-color-1: #fff9e6;
    --product-bg-color-2: #fbf5e2;
    --footer-color: #000;
}
.dark{
    display: inline;
}
.light{
    display: none;
}
[theme="dark"] .dark{
    display: inline;
}
[theme="dark"] .light{
    display: none;
}
[theme="light"] .dark{
    display: none;
}
[theme="light"] .light{
    display: inline;
}

body{
    background-color: #221f2a;
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family:'Courier New', Courier, monospace;
    margin: 0;
}

.selezionabile{
    transition: outline 0.5s ease-out, transform 0.5s ease-out;
    outline-color: transparent;
    outline-style: solid;
    outline-width: 0.5vh;
}

.selezionabile:hover{
    outline-color: #a484b1;
    outline-color: var(--hover-color);
    z-index: 1;
}

.hidden{
    display: none !important;
}

.invisible{
    visibility: hidden;
}

header{
    position: sticky;
    top: 0;
    min-height: 10vh;
    max-height: 10vh;
    display: flex;
    background-color: #310c53;
    background-color: var(--header-color);
    z-index: 1;
}

header>section>a{
    display: flex;
}

#personal_area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    transition: max-width 0.5s ease-in;
    max-height: 100%;
    width: 100%;
    max-width: 33%;
}

#personal_area>a{
    max-height: 100%;
    max-width: 100%;
    padding: 1vh;
    object-fit: contain;
    aspect-ratio: 1/1;
}

#personal_area>img{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    margin: 1vh;
}

#personal_area>a>img{
    object-fit: contain;
    max-height: 100%;
}

#logo{
    width: 34%;
    display: flex;
}

#logo>a{
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
}

#logo>a>img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#search_bar{
    display: flex;
    width: 33%;
    align-content: center;
    align-items: center;
    flex-grow:1;
}

#search_bar>section{
    display: flex;
    background-color: white;
    min-height: 60%;
    max-height: 60%;
    border-style: solid;
    border-color: orange;
    border-width: 0.7vh;
    align-content: center;
    align-items: center;
    overflow: hidden;
}

#search_bar>section:first-child{
    max-width: 20%;
    border-top-left-radius:1000vh;
    border-bottom-left-radius:1000vh;
    aspect-ratio: 1;
}

#search_bar>section:last-child{
    width: 100%;
    max-width: 100%;
    border-top-right-radius:1000vh;
    border-bottom-right-radius:1000vh;
    border-left-width: 0px;
    flex-direction: column;
}

#search_bar>section>img{
    /* max-width: 50%; */
    max-height: 100%;
    object-fit: contain;
    margin: auto;
    transform: scaleX(-1);
    box-sizing:border-box;

    display: block;
    max-width: 50%;
}

#search_bar>section>input{
    flex-grow: 1;
    max-width: 100%;
    width: 100%;
    padding: 0%;
    border: none;
    font-size: 4vh;
    padding-left: 1vw;
}

@media screen and (max-width: 1080px) {
    header{
        max-height: 20vh;
        min-height: 20vh;
        flex-wrap: wrap;
        >#logo{
            flex-grow: 1;
            flex-direction: row; 
            order: 1;
            max-height: 10vh;
            min-height: 10vh;
            height: 10vh;
            max-width: 100%;
            min-width: 100%;
            width: 100%;
            >a{
                max-width: 100%;
                min-width: 100%;
            }
        }
        >#personal_area{
            flex-grow: 1;
            order: 2;
            flex-direction: row;
            max-height: 10vh;
            min-height: 10vh;
            height: 10vh;
            max-width: 50%;
            min-width: 50%;
        }
        >#search_bar{
            flex-grow: 3;
            flex-direction: row;
            min-height: 10vh;
            max-height: 10vh;
            height: 10vh;
            min-width: 50%;
            order: 3;
                    position: sticky;
            align-self: flex-start;
            top:auto;
        }
    }
}

@media screen and (max-width:480px) {
    header{
        max-height: 30vh;
        min-height: 30vh;
        >#personal_area{
            max-width: 100%;
            min-width: 100%;
        }
        >#search_bar{
            max-width: 100%;
            min-width: 100%;
        }
    }
}

nav{
    margin: 3vh 0;
    width: 100%;
}

nav>ul{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin: 0;
    flex-wrap: wrap;
    padding: 0;
}

nav>ul>li{
    min-width: 10%;
    min-height: 8vh;
    max-height: 8vh;
    display: flex;
    justify-content: center;
    text-align: center;     
    margin: 0.5vh 2vw;
}

nav>ul>li>a{
    background-color: #a484b1;
    background-color: var(--nav-color);
    min-width: 100%;
    min-height: 100%;
    border-radius: 1vh;
    align-content: center;
    text-decoration: none;
    border-width: 0.5vh;
    color: inherit;
    font-size: 3vh;
    padding: 0 0.2vw;
}

footer{
    background-color: #000;
    background-color: var(--footer-color);
    padding: 1% 0% 2%;
    border-top: solid #ffffff 2px;
    display: flex;
    max-width: 100%;
    overflow: hidden;
}

footer>*{
    min-width: 50%;
    max-width: 50%;
    padding: 0% 0% 0% 1%;
}

footer>*:first-child{
    border-right: solid #ffffff 2px;
}

footer ul{
    margin: 0;
}

@media screen and (max-width: 480px) {
    footer{
        flex-direction: column;
        >*{
            min-width: 100%;
            max-width: 100%;
            padding: 0% 0% 1% 0%;
        }
        >*:first-child{
            border-bottom: solid #ffffff 2px;
            border-right: none;
        }
    }
}

#options{
    background-color: #000;
    background-color: var(--footer-color);
    padding: 1% 0% 2%;
    border-right: solid #ffffff 2px;
    border-bottom: solid #ffffff 2px;
    position: sticky;
    top: 10vh;  
    /* header height */
    z-index: 2;
    max-width: 33%;
    padding: 3vh 0;
    transition: max-width 0.5s ease-in;
    transition: min-width 0.5s ease-in;
    font-size: 3vh;
}

@media screen and (min-width: 481px) and (max-width: 1080px) {
    #options{
        top: 20vh;
        /* header height */
        max-width: 50%;
    }
}

@media screen and (max-width: 480px) {
    #options{
        top: 30vh;
        /* header height */
        max-width: 100%;
    }
}

#options>*{
    margin: auto;
    flex-basis: min-content;
    display: flex;
    min-width: 50%;
    max-width: 50%;
    padding: 0% 0% 0% 1%;
}

#theme_toggle{
    width: 3vh;
  height: 3vh;
  margin: auto;
}

.autocompletabile{
    position: relative;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  width:100%;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: var(--bg-color);
  border-bottom: 1px solid #ffffff;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: var(--product-bg-color-1);
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: var(--product-bg-color-2);
  border-left: 5px solid var(--icon-color);
  color: #ffffff;
}

@media screen and (min-width: 1081px){
	#search_bar{
	    .autocomplete-items{
	        left:33%;
	    }
	}
}

.insertion_form{
    >fieldset{
        border: 0.5vh #fdf7e4 solid;
        border-color: var(--font-color);
        border-radius: 2vh;
        >*{
            display: inline-block;
            margin-right: 2%;
            margin-top: 0%;
            margin-bottom: 1%;
            align-items: start;
            text-align: start;
            vertical-align:top;
        }
        >.reset_button{
            display: block;
            margin-right: 1%;
            margin-left: auto;
            margin-bottom: 0;
        }
    }
}

textarea{
    vertical-align:top;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}

.risky_button{
    color: red;
	font-weight: bolder;
}

#card_retrieve_error{
	color:red;
	display: block;
}

#product_data>label:first-child{
    display: block;
}

.image_preview_container{
    display: block;
    max-height: 50vh;
    max-width: 100%;
    padding-left: 5%;
    padding-right: auto;
    #image_preview{
        max-height: 50vh;
    }
}

#image_preview{
    max-width: 100%;
    object-fit: contain;
    box-sizing: border-box;
}