<!DOCTYPE html>
<html>
    <head>
        <title>
            Homepage
        </title>
        <link rel="stylesheet" href="">
        <script></script>
    </head>
    <body>
        <header>
            <section id="personal_area">
                <img src="https://www.nicepng.com/png/full/367-3671905_person-icon-person-icon-silhouette.png" alt="Area Personale">
                <img src="https://cdn-icons-png.flaticon.com/512/3081/3081986.png" alt="Carrello">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWBCwGmun5NvZkyeErZtJyyfoqPP6MrnKZCPkCVJsfrg&s=10" alt="Opzioni">
            </section>
            <section id="logo">
                <img src="https://m.media-amazon.com/images/I/51L1AEubvuL._AC_UF1000,1000_QL80_.jpg" alt="Logo">
            </section>
            <search id="search_bar">
                <input type="text">
            </search>
        </header>
        <nav>
            <ul>
                <li><a href="">Carte</a></li>
                <li><a href="">Confezionati</a></li>
                <li><a href="">Deck</a></li>
                <li><a href="">Sleeves</a></li>
                <li><a href="">Gadgets</a></li>
            </ul>
        </nav>
        
        <main>
            <section id="product_selection">
                <article>
                    <img src="https://m.media-amazon.com/images/I/71aorzt910L._AC_UF1000,1000_QL80_.jpg" alt="Ash Blossom">
                    <h3>Fioritura di Cenere & Gioiosa Primavera</h3>
                    <p>Fioritura di Cenere & Gioiosa Primavera italiana in ottime condizioni</p>
                </article>
                <article>
                    <img src="https://www.cardgamecorner.com/prodotti/_ygo/box/4012927194706.jpg" alt="Yu-Gi-Oh! Rarity Collection 5">
                    <h3>Rarity Collection 5</h3>   
                    <p>Box sigillato di Yu-Gi-Oh! Rarity Collection 5</p>
                </article>
                <article>
                    <img src="https://product-images.s3.cardmarket.com/5/BLMM/843165/843165.jpg" alt="Drago Bianco Occhi Blu">
                    <h3>Drago Bianco Occhi Blu alt.</h3>
                    <p>Drago Bianco Occhi Blu di Battaglie della Leggenda: Tumulto di Mostri</p>
                </article>
                <article>
                    <img src="https://japondemande.com/cdn/shop/files/product_figures_yu-gi-oh_ichiban-kuji-yu-gi-oh_the-egyptian-gods_kuriboh_d.jpg?v=1728185704&width=1445" alt="Statue Kuriboh">
                    <h3>Statuette Kuriboh</h3>
                    <p>Carinissime statuette di Kuriboh uwu~ nyan</p>
                </article>
                <article>
                    <img src="https://m.media-amazon.com/images/I/91CcThxmkOS.jpg" alt="Sleeves Mago Nero">
                    <h3>Sleeves Mago Nero</h3>
                    <p>Bustine protettive a tema Mago Nero</p>
                </article>
            </section>
            
        </main>

        <footer>
            <section>
                link vari
                <a href=""></a>
            </section>
            <address>
                <ul>
                    <li>Poggibonsi</li>
                    <li>Via delle vie, 33</li>
                    <li>+333 3333333</li>
                    <li>blue_eyes@mail.it</li>
                </ul>
            </address>
        </footer>
    </body>
</html>