<!DOCTYPE html>
<html>
    <head>
        <title>
            Homepage
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../../styles/maxx-cards.css">
        <script src="../../../scripts/maxx-cards.js"></script>
        <script>
            localStorage.setItem("test", "1");
        </script>
    </head>
    <body>
        <header>
            <section id="personal_area">
                <img src="https://www.nicepng.com/png/full/367-3671905_person-icon-person-icon-silhouette.png" alt="Area Personale" class="dark">
                <img src="https://cdn-icons-png.flaticon.com/512/82/82122.png" alt="Opzioni" class="light">
                <a href="http://localhost/Max-Cards-/bbbbbbbbbbbbbbbbb">
                    <img src="https://cdn-icons-png.flaticon.com/512/3081/3081986.png" alt="Carrello" class="dark">
                    <img src="https://cdn-icons-png.flaticon.com/512/82/82122.png" alt="Opzioni" class="light">
                </a>
                <a href="">
                    <img src="https://cdn-icons-png.flaticon.com/512/82/82122.png" alt="Opzioni" class="dark">
                    <img src="https://cdn-icons-png.flaticon.com/512/82/82122.png" alt="Opzioni" class="light">
                </a>
            </section>
            <section id="logo">
                <a href="homepage.html">
                    <img src="https://m.media-amazon.com/images/I/51L1AEubvuL._AC_UF1000,1000_QL80_.jpg" alt="Logo">
                </a>
            </section>
            <search id="search_bar">
                <section>
                    <img src="https://static.thenounproject.com/png/1891820-200.png" alt="zoom_lens">                    
                </section>
                <section>
                    <input type="text" placeholder="Ricerca...">
                </section>
            </search>
        </header>
        <nav>
            <ul>
                <li><a href="" class="selezionabile">Carte</a></li>
                <li><a href="" class="selezionabile">Confezionati</a></li>
                <li><a href="" class="selezionabile">Deck</a></li>
                <li><a href="" class="selezionabile">Sleeves</a></li>
                <li><a href="" class="selezionabile">Gadgets</a></li>
            </ul>
        </nav>

        <main>
            <section id="product_selection">
                <a href="" class="product_link selezionabile">
                    <section class="product_image">
                        <img src="https://m.media-amazon.com/images/I/71aorzt910L._AC_UF1000,1000_QL80_.jpg" alt="Ash Blossom">
                    </section>
                    <section class="product_description">
                        <h3>Fioritura di Cenere & Gioiosa Primavera</h3>
                        <p>Fioritura di Cenere & Gioiosa Primavera italiana in ottime condizioni</p>
                    </section>
                </a>
                <a href="" class="product_link selezionabile">
                    <section class="product_image">
                        <img src="https://www.cardgamecorner.com/prodotti/_ygo/box/4012927194706.jpg" alt="Yu-Gi-Oh! Rarity Collection 5">
                    </section>
                    <section class="product_description">
                        <h3>Rarity Collection 5</h3>   
                        <p>Box sigillato di Yu-Gi-Oh! Rarity Collection 5</p>
                    </section>
                </a>            
                <a href="" class="product_link selezionabile">
                    <section class="product_sale">
                        <p>Sconto!</p>
                        <p>30%</p>
                    </section>
                    <section class="product_image">
                        <img src="https://tcgplayer-cdn.tcgplayer.com/product/635874_in_1000x1000.jpg" alt="Drago Bianco Occhi Blu">
                    </section>
                    <section class="product_description">
                        <h3>Drago Bianco Occhi Blu alt.</h3>
                        <p>Drago Bianco Occhi Blu di Battaglie della Leggenda: Tumulto di Mostri</p>
                    </section>
                </a>        
                <a href="" class="product_link selezionabile">
                    <section class="product_image">
                        <img src="https://japondemande.com/cdn/shop/files/product_figures_yu-gi-oh_ichiban-kuji-yu-gi-oh_the-egyptian-gods_kuriboh_d.jpg?v=1728185704&width=1445" alt="Statue Kuriboh">
                    </section>
                    <section class="product_description">
                        <h3>Statuette Kuriboh</h3>
                        <p>Carinissime statuette di Kuriboh uwu~ nyan</p>
                    </section>
                </a>        
                <a href="" class="product_link selezionabile">
                    <section class="product_image">
                        <img src="https://m.media-amazon.com/images/I/91CcThxmkOS.jpg" alt="Sleeves Mago Nero">
                    </section>
                    <section class="product_description">
                        <h3>Sleeves Mago Nero</h3>
                        <p>Bustine protettive a tema Mago Nero</p>
                    </section>
                </a>
                <a href="" class="product_link selezionabile">
                    <section class="product_image">
                        <img src="https://m.media-amazon.com/images/I/71aorzt910L._AC_UF1000,1000_QL80_.jpg" alt="Ash Blossom">
                    </section>
                    <section class="product_description">
                        <h3>Gagagagagagaga&shygagagaga </h3>
                        <p>AAA AAA AAA AAA straordinario AAA B AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA </p>
                    </section>
                </a>
            </section>
            
            <input type="checkbox" checked name="theme_toggle" id="theme_toggle"> 
            <label for="theme_toggle">Tema scuro: </label>

        </main>

        <footer>
            <section>
                link vari
                <a href=""></a>
            </section>
            <address>
                <ul>
                    <li>Poggibonsi</li>
                    <li>Via delle vie, 33</li>
                    <li>+333 3333333</li>
                    <li>blue_eyes@mail.it</li>
                </ul>
            </address>
        </footer>
    </body>
</html>